fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
python-multipart
httpx
PyJWT
pwdlib[argon2]
email-validator
pymongo
redis
supabase
langchain
langgraph
langsmith
langchain-openai
langchain-community
langchain-text-splitters
langgraph-checkpoint-redis
pypdf
